<p class="title is-size-4 pt-3">
  About OMIS
</p>
<div class="box has-background-white has-text-grey-dark">
  <p>
    The Organization Managemnt Information System (OMIS) is an electronic system designed to help non-profit organization
    better manage their resources. Starting off as an internal system at the Global Health Informatics Institue (GHII), OMIS
    was designed to enforce standard internal controls with a minimal human resources.
  </p>
  <p class="title is-size-6 pt-3">
    Features
  </p>
  <ul>
    <li>
      <span class="font-semibold has-text-success has-text-weight-bold">
          <span class="is-size-4">&#9989;</span> Requisitions
      </span>
      <span class="has-text-black-bis">
        : Getting a service or item within organization usually begins with a formal request. The requisition
      process is a standardized way of keeping track of and accounting for all requisitions made within a business. OMIS supports
      requisitions for assets, petty cash, and purchase requests.
      </span>
    </li>
    <li>
      <span class="font-semibold has-text-success has-text-weight-bold">
          <span class="is-size-4">&#9989;</span> Human Resources Management
      </span>
      <span class="has-text-black-bis">
        : OMIS supports the human resource officers team within the organization to manage the organization's employees.
      </span>
    </li>
    <li>
      <span class="font-semibold has-text-success has-text-weight-bold">
          <span class="is-size-4">&#9989;</span> Asset Management
      </span>
      <span class="has-text-black-bis">
        : Processes within organizations usually begin with a requisition.
      </span>
    </li>
    <li>
      <span class="font-semibold has-text-success has-text-weight-bold">
          <span class="is-size-4">&#9989;</span> Project Management
      </span>
      <span class="has-text-black-bis">
        : Processes within organizations usually begin with a requisition.
      </span>
    </li>
    <li>
      <span class="font-semibold has-text-success has-text-weight-bold">
          <span class="is-size-4">&#9989;</span> Productivity Management :
      </span>
      <span class="has-text-black-bis">
        : Processes within organizations usually begin with a requisition.
      </span>
    </li>
  </ul>
</div>