<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
      body {
          font-family: 'Trebuchet MS', sans-serif;
      }
  </style>
</head>
<body style="background-color: #F3F4F6;padding: 20px;">

<div style="border: 1px solid #002130; width:70%;margin-left: auto;margin-right: auto;">
  <div style="background-color: #002130; font-weight: bold;color: #E3E4E7;padding:20px; text-align: center;font-size: 1.5rem;">
    OMIS Password Reset
  </div>
  <div style="padding: 30px;font-size: 1.2rem;">
    Dear <b><i> <%= @user.person_name %></i></b>,
    <p>
      Your request to reset your user password for the Organization Management Information System (OMIS) was successful.
      Your password password has been reset to  <b><i> <%= @password %></i></b>. You will be prompted to change the
      password on your first login.
    </p>
    <p>
      To login to the site, follow this link: http://192.168.0.10:3000 or http://192.168.88.103:3000
    </p>
  </div>
  <div></div>
</div>

</body>
</html>
