<div class="h-full w-full flex flex-col">
    <div class="bg-gray-50 rounded p-3">
        <h2 class="text-4xl font-semibold text-gray-800"><%=@gender_age[:card_title_1]%></h2>
    </div>
    <div class="h-[83%] w-full px-3">
    <canvas id="ageChart" class="w-full h-full"></canvas>
    </div>          
</div>  