<div class="h-full w-full flex flex-col">
    <div class="bg-gray-50 rounded ">
        <h2 class="text-4xl font-semibold text-gray-800 m-3"><%= @tenure[:card_title_3] %></h2>
    </div>
    <div class="h-[83%] w-full p-10">
    <canvas id="workforceChart" class="w-full h-full"></canvas>
    </div>
</div>