<div class="table-container">
  <table class="table table is-striped is-hoverable is-fullwidth is-scrollable">
    <thead>
    <tr>
      <th>Description</th>
      <th>Project</th>
      <th>Estimated Duration</th>
      <th>Actual Duration</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Year 1 Project Report</td>
      <td>SINTHA Malawi</td>
      <td>3.0</td>
      <td>5.5</td>
      <td>1 Sep 2023</td>
      <td>Assigned</td>
      <td><%= button_to 'View', '/' %></td>
    </tr>
    </tbody>
  </table>
</div>