<h5>My Leave Dashboard</h5>
<hr/>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Remaining Annual Days <span class="badge bg-secondary">4</span></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Remaining Annual Days <span class="badge bg-secondary">4</span></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Remaining Annual Days <span class="badge bg-secondary">4</span></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Remaining Annual Days <span class="badge bg-secondary">4</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <h6>Overall Leave Summary</h6>
          <p class="card-text">Remaining Annual Days</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <h6>List of Holidays</h6>
          <p class="card-text">Remaining Annual Days</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <h6>Employee Leave Tracker Sheet</h6>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Month</th>
          <th>Annual</th>
          <th>Sick</th>
          <th>Study</th>
          <th>Unpaid</th>
          <th>Compensatory</th>
          <th>Paternity/Maternity</th>
          <th>Total Leave</th>
          <th>Worked Days</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>January</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>February</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td></tr>
        <tr>
          <td>March</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>April</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>