<% form %>
<div class="tab-pane fade show active m-4" id="nav-purchase-request" role="tabpanel">
    <div class="mb-4">
        <span class="badge rounded-pill bg-warning text-dark px-3 py-2 fs-6">
            Pending Submission
        </span>
    </div>

    <div class="card-body">
        <div class="row mb-3">
            <div class="row">
                <div class="col">
                    <div>
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date" placeholder="Enter Date">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="department" class="form-label">Department</label>
                        <select class="form-select" id="department">
                            <option value="" selected disabled>Select Department</option>
                            <option value="HR">HR</option>
                            <option value="Finance">Finance</option>
                            <option value="IT">IT</option>
                            <option value="Marketing">Marketing</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="row">
                <div class="col">
                    <div>
                        <label for="donor" class="form-label">Donor</label>
                        <input type="text" class="form-control" id="donor" placeholder="Enter name of the Donor">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="purpose" class="form-label">purpose of Purchase</label>
                        <input type="text" class="form-control" id="donor" placeholder="Enter the purpose of this purchase">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="row">
                <div class="col">
                    <div>
                        <label for="supplier" class="form-label">Supplier</label>
                        <input type="text" class="form-control" id="supplier" placeholder="Enter name of the supplier">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="quantity" placeholder="Enter the quantity">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="4" placeholder="Enter the description"></textarea>
            </div>
        </div>

        
        <div class="row mb-5">
            <div class="col">
                <button type="button" class="btn btn-primary ms-2">Submit</button>
                <button type="button" class="btn btn-primary ms-2">Re Submit</button>
                <button type="button" class="btn btn-warning ms-2">Recall</button>
                <button type="button" class="btn btn-danger ms-2">Rescind</button>
            </div>
        </div>


    </div>
</div>