<div class="card h-100">
  <div class="card-body p-2, text-center">
    <div class="total-stock-summary">
      <h6>Products expiring soon</h6>
      <p style="font-size:200%;">0 products</p>
    </div>
  </div>
</div>