<div class="card h-100">
  <div class="card-body p-2">
    <h6>Stock values by Location</h6>
    <div class="text-center">
      <canvas id="stockLocationPie" style="height: 30vh !important; width: 15vw;margin-left: auto; margin-right: auto;"></canvas>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>

<script>

    new Chart(document.getElementById("stockLocationPie"), {
        type : 'doughnut',
        data : {
            labels : <%= @storage_data.map { |data| data[:location]}.to_json.html_safe %>,
            datasets : [ {
                data : <%= @storage_data.map { |data| data[:total_quantity] }.to_json.html_safe %>,
            } ]
        },
        options : {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
</script>