<div class="card h-100">
  <div class="card-body p-2, text-center">
    <div class="total-stock-summary">
      <h6>Count of all products</h6>
      <p style="font-size:200%;"><%= @total_stock %> products</p>
    </div>
    <%= link_to "More", "/inventory_items/info", style: "text_decoration: none;
     position: absolute; bottom: 5px; right: 8px;"%>
  </div>
</div>