<h1>Forgot Password</h1>
<p>Enter your email address below and we'll send you instructions to reset your password</p>

<form action="/forgot_password" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br>
    <br>
    <button style="'btn btn-success'"><a href="/password_reset_forget" style="text-decoration: none;">Send reset instructions?</a></button>
</form>