
<div class="row align-items-center mt-sm-5">
  <div class="col-sm-3 ">&nbsp;</div>
  <div class="col-sm-6 ">
    <%= form_with model: @user, url: "/password_reset_forget",method: 'PATCH' ,scope: :user do |form| %>
      <div class="card">
        <div class="card-header h5">
          Password Reset
        </div>
        <div class="card-body">
          <small class="m-2 p-1">Password Reset instructions have been sent to your email</small>

        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3 ">&nbsp;</div>
</div>