<h4 class="modal-title">Token Request</h4>
<hr>
<div class="text-center p-4">
  Your requested token has been generated : <b><%= @token %></b>
</div>

<div class="text-end fs-6 fst-italic text-primary">
  PS: All requested tokens are anonymous
</div>