  <div class="table-container">
    <table class="collapsible">
      <thead>
      <tr>
        <th><abbr title="Project">Project</abbr></th>
        <th><abbr title="Monday">Mon</abbr></th>
        <th><abbr title="Tuesday">Tues</abbr></th>
        <th><abbr title="Wednesday">Wed</abbr></th>
        <th><abbr title="Thursday">Thurs</abbr></th>
        <th><abbr title="Friday">Fri</abbr></th>
        <th><abbr title="Saturday">Sat</abbr></th>
        <th><abbr title="Sunday">Sun</abbr></th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr onmousedown="toggle('medu')">
        <td class="rowTitle">MEDU</td>
        <td>5</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>0.0</td>
        <td>0.0</td>
        <th>
          <button class="card-header-icon" aria-label="more options">
            0.0
            <span class="icon">
                          <img src="/assets/Expand.png" width="40" height="40">
                        </span>
          </button>
        </th>
      </tr>
      </tbody>
      <tbody id="medu" class="subRows">
      <tr>
        <td style="text-align: left !important;">Reviewing data</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <button class="card-header-icon" aria-label="more options">
            12.0
            <span class="icon">
                            <img src="/assets/edit.png" width="40" height="40">
                          </span>
          </button>
        </td>
      </tr>
      <tr>
        <td style="text-align: left !important;">Reviewing data</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <button class="card-header-icon" aria-label="more options">
            0.0
            <span class="icon">
                            <img src="/assets/edit.png" width="40" height="40">
                          </span>
          </button>
        </td>
      </tr>
      </tbody>
      <tbody>
      <tr onmousedown="toggle('neotree')" >
        <td class="rowTitle">Neotree</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <th>
          <button class="card-header-icon" aria-label="more options">
            0.0
            <span class="icon">
                            <img src="/assets/Expand.png" width="40" height="40">
                          </span>
          </button>
        </th>
      </tr>
      </tbody>
      <tbody id="neotree" class="subRows">
      <tr>
        <td style="text-align: left !important;">Reviewing data</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <button class="card-header-icon" aria-label="more options">
            0.0
            <span class="icon">
                              <img src="/assets/edit.png" width="40" height="40">
                            </span>
          </button>
        </td>
      </tr>
      <tr>
        <td style="text-align: left !important;">Reviewing data</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <button class="card-header-icon" aria-label="more options">
            0.0
            <span class="icon">
                              <img src="/assets/edit.png" width="40" height="40">
                            </span>
          </button>
        </td>
      </tr>
      </tbody>
      <tbody>
      <tr onmousedown="toggle('ucr')">
        <td class="rowTitle">Universal Card Reader</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <th>
          <button class="card-header-icon" aria-label="more options">
            0.0
            <span class="icon">
                            <img src="/assets//Expand.png" width="40" height="40">
                          </span>
          </button>
        </th>
      </tr>
      </tbody>
      <tbody id="ucr" class="subRows">
      <tr>
        <td style="text-align: left !important;">Reviewing data</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <button class="card-header-icon" aria-label="more options">
            0.0
            <span class="icon">
                              <img src="/assets/edit.png" width="40" height="40">
                            </span>
          </button>
        </td>
      </tr>
      <tr>
        <td style="text-align: left !important;">Reviewing data</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <button class="card-header-icon" aria-label="more options">
            0.0
            <span class="icon">
                              <img src="/assets/edit.png" width="40" height="40">
                            </span>
          </button>
        </td>
      </tr>
      </tbody>
      <tbody>
      <tr onmousedown="toggle('bp')">
        <td class="rowTitle">Community Hypertension</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <th>
          <button class="card-header-icon" aria-label="more options">
            0.0
            <span class="icon">
                            <img src="/assets/Expand.png" width="40" height="40">
                          </span>
          </button>
        </th>
      </tr>
      </tbody>
      <tbody id="bp" class="subRows">
      <tr>
        <td style="text-align: left !important;">Reviewing data</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <button class="card-header-icon" aria-label="more options">
            0.0
            <span class="icon">
                              <img src="/assets/edit.png" width="40" height="40">
                            </span>
          </button>
        </td>
      </tr>
      <tr>
        <td style="text-align: left !important;">Reviewing data</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <button class="card-header-icon" aria-label="more options">
            0.0
            <span class="icon">
                              <img src="/assets/edit.png" width="40" height="40">
                            </span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


<script>
    function collapse(){
        let rows = document.getElementsByClassName("subRows")
        for (let i = 0; i < rows.length; i++)
        {
            rows[i].classList.add("hide")
        }
    }

    function toggle(row) {

        let grp = document.getElementById(row)
        if (grp)
        {
            if (grp.classList.contains("hide"))
            {
                collapse()
                grp.classList.remove("hide")
            }
            else {
                grp.classList.add("hide")
            }
        }
    }

    setTimeout(collapse(), 3000)
</script>

<style scoped>
    table.collapsible {
        width:100%;
        margin: 0px;
        padding: 0px;
        border: 1px solid;
        border-collapse: collapse;
    }
    table.collapsible th {
        height: 5vh;
        background-color: #04AA6D;
        color: white;
    }
    .rowTitle {
        text-align: left !important;
        font-weight: bold;
    }

    table.collapsible th, table.collapsible td {
        border-bottom: 1px solid #ddd;
        text-align: center ;
        vertical-align: middle;
        padding: 2px;
    }

    table.collapsible tr:hover {background-color: coral;}

    table.collapsible tr:nth-child(even) {background-color: #f2f2f2;}

    .subRows {
    }
    .hide {
        display: none;
    }
</style>