<%# progress indicator %>

<div class="container-fluid mt-4 ml-4 mr-4 ">
    <div class="card w-100 shadow-sm">

        <%# header tab %>
        <div class="card-header">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-purchase-request-tab" data-bs-toggle="tab" data-bs-target="#nav-purchase-request" type="button" role="tab">1. Purchase Request</button>
                    <button class="nav-link" id="nav-purchase-request-review-tab" data-bs-toggle="tab" data-bs-target="#nav-purchase-request-review" type="button" role="tab">2. Purchase Request Review</button>
                    <button class="nav-link" id="nav-source-qoutation-tab" data-bs-toggle="tab" data-bs-target="#nav-source-qoutation" type="button" role="tab">3. Source Qoutation</button>
                    <button class="nav-link" id="nav-vendor-analysis-tab" data-bs-toggle="tab" data-bs-target="#nav-vendor-analysis" type="button" role="tab">4. Vendor Analysis</button>
                    <button class="nav-link" id="nav-fulfillment-method-tab" data-bs-toggle="tab" data-bs-target="#nav-fulfillment-method" type="button" role="tab">5. Fulfillment Method</button>
                    <button class="nav-link" id="nav-payment-request-tab" data-bs-toggle="tab" data-bs-target="#nav-payment-request" type="button" role="tab">6. Payment Request</button>
                    <button class="nav-link" id="nav-payment-voucher-tab" data-bs-toggle="tab" data-bs-target="#nav-payment-voucher" type="button" role="tab">7. Payment Voucher</button>
                    <button class="nav-link" id="nav-pop-tab" data-bs-toggle="tab" data-bs-target="#nav-pop" type="button" role="tab">8. POP</button>
                    <button class="nav-link" id="nav-receipt-tab" data-bs-toggle="tab" data-bs-target="#nav-receipt" type="button" role="tab">9. Receipt</button>
                    <button class="nav-link" id="nav-delivery-tab" data-bs-toggle="tab" data-bs-target="#nav-delivery" type="button" role="tab">10. Delivery</button>
                    <button class="nav-link" id="nav-delivery-tab" data-bs-toggle="tab" data-bs-target="#nav-delivery" type="button" role="tab">11. Asset Registration</button>
                    <button class="nav-link" id="nav-preview-tab" data-bs-toggle="tab" data-bs-target="#nav-preview" type="button" role="tab">10. Preview</button>
                </div>
            </nav>
        </div>

        <div class="tab-content border" id="nav-tabContent">

            <%# FORMS %>
            
            <%= render 'requisitions/purchase_requests/purchase_request_form' %>

            <%# <%= render 'requsitions/purchase_request/purchase_request_review_form.html.erb' %> 


<%# Request Item %>
<%= form_with model: @requisition, url: create_purchase_request_path, method: :post, local: false do |form| %>
<p class="h5 ">Purchase Request Form</p>
<% end %>
