<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
      body {
          font-family: 'Trebuchet MS', sans-serif;
      }
  </style>
</head>
<body style="background-color: #F3F4F6; padding: 20px;">

<div style="border: 1px solid #002130; width:100%; margin: 0 auto;">
  <div style="background-color: #002130; font-weight: bold; color: #E3E4E7; padding: 20px; text-align: center; font-size: 1.5rem;">
    <%= @leave_details[:leave_type] %> Request
  </div>
  <div style="padding: 30px; font-size: 1.2rem;">
    <p>
      Dear <%= @leave_details[:requester_full_name] %>,
    </p>
    <p>
      We are pleased to inform you that your <%= @leave_details[:leave_type] %> request has been approved.
    </p>
    <p>
      If you have any questions or need further information, feel free to contact your supervisor.
    </p>
  </div>
</div>
<div style="margin-top: 30px; text-align: center; font-size: 0.9rem; color: #6c757d;">
    <p>Informatics Team. <%= Time.current.year %></p>
</div>
</body>
</html>
