<div id="<%= dom_id asset_category %>">
  <p>
    <strong>Category:</strong>
    <%= asset_category.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= asset_category.description %>
  </p>

  <p>
    <strong>Voided:</strong>
    <%= asset_category.voided %>
  </p>

</div>
