<h1>New asset category</h1>
<%= render "remote_model", title: "New Asset Category" do %>
  <%= render "form", asset_category: @asset_category %>
<% end %>


  <%#= link_to "Back to asset categories", asset_categories_path %>

