<div class="card h-100">
  <div class="card-body p-2">
    <h6>Workforce Retention and Turnover Rate</h6>
    <div class="text-center">
      <canvas id="retentionLineChart" style="height: 30vh !important; width: 30vw;margin-left: auto; margin-right: auto;"></canvas>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>

<script>
    labels = []
    <% (@retention.keys.reverse || []).each do |label| %>
        labels.push('<%= label %>')
    <% end %>

    new Chart(document.getElementById("retentionLineChart"), {
        type : 'line',
        data : {
            labels :  labels ,
            datasets : [ {
                label: 'Employee Retention',
                data :  <%= @retention.values.reverse %>,
                pointStyle: 'circle',
                pointRadius: 5,
                pointHoverRadius: 7,
                borderColor: 'rgb(250, 103, 117)',
                backgroundColor: 'rgb(204, 49, 61)',
            },{
                label: 'Employee Turnover',
                data :  <%= @turnover.values.reverse %>,
                pointStyle: 'circle',
                pointRadius: 5,
                pointHoverRadius: 7,
                borderColor: 'rgb(161, 214, 226)',
                backgroundColor: 'rgb(25, 149, 173)',
            }
            ]
        },
        options : {
            scales: {
                x: {
                    offset: false,
                    ticks: {
                        autoSkip: false,
                        maxRotation: 60,
                        minRotation: 45
                    }
                },
                y: {
                    min: 0,
                    max: 100,
                    offset: true
                }
            },
            responsive: true  ,
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
</script>

