<div class="card h-100">
  <div class="card-body p-2">
    <h6>Workforce Retention Rate</h6>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Period</th>
        <th>Q1</th>
        <th>Q2</th>
        <th>Q3</th>
        <th>Q4</th>
        <th>Year</th>
      </tr>
      </thead>
      <tbody>
      <tr><td>2021</td><td>16</td><td>14</td><td>16</td><td>14</td><td>16</td></tr>
      <tr><td>2022</td><td>16</td><td>14</td><td>16</td><td>14</td><td>16</td></tr>
      <tr><td>2023</td><td>16</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>16</td></tr>
      </tbody>
    </table>
  </div>
</div>
